@font-face {
    font-family: 'Seventies Sunrise Trial';
    src: url('SeventiesSunriseTrial-Regular.eot');
    src: url('SeventiesSunriseTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('SeventiesSunriseTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

